body {
    background-color: black!important;}
    body div h4 {color: antiquewhite;}
    img#imglogo {width: 30%!important; height: 30%!important;}

div.container {
    text-align: center;
    display: table;
    
}
#top, #bottom, #left, #right {
    background: #ffff00;
    position: fixed;

    }
    #left, #right {
        top: 0; bottom: 0;
        width: 5px;
        }
        #left { left: 0; }
        #right { right: 0; }
        
    #top, #bottom {
        left: 0; right: 0;
        height: 5px;
        }
        #top { top: 0; }
        #bottom { bottom: 0; }


div#start {
    margin: auto;
    width: 60%;
    padding: 10px;
    vertical-align: middle;

}

