body {
    background-color: black!important;}
    body div h4 {color: antiquewhite;}
    img#imglogo {width: 30%!important; height: 30%!important;}

div.container {
    text-align: center;
    display: table;

}
#top, #bottom, #left, #right {
    background: #ffff00;
    position: fixed;

    }
    #left, #right {
        top: 0; bottom: 0;
        width: 5px;
        }
        #left { left: 0; }
        #right { right: 0; }

    #top, #bottom {
        left: 0; right: 0;
        height: 5px;
        }
        #top { top: 0; }
        #bottom { bottom: 0; }

        body{background-color: #252525;}
        div#header {
            margin: 0;
            position: absolute;
            top: 30%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)}
            #header{color: grey;}

            div#May {
                margin: 0;
                position: absolute;
                top: 45%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)}
                #May-hello{color: grey;}

div#start {
    margin: auto;
    width: 60%;
    padding: 10px;
    vertical-align: middle;

}
#h1header {color: antiquewhite!Important;}
.p {color: antiquewhite!important;}
