div.intro {padding-left: 5px;
color:antiquewhite;          
}

/* Float four columns side by side */
.maycontainer {
    float: left; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #464646;
  }
  
  /* Remove extra left and right margins, due to padding */
  .sidebysidecards {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .sidebysidecards:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .maycontainer {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

#secret-overlay  {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
}

#secret-content {
    background-color: #212121;
    padding: 10px;
    border: 2px solid #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#secret-content h1 {
    padding: 0px;
}
#choice {
    margin: 5px;
    padding: -5px;
}
.card {background-color: #232323!Important;}
h4.card-title {color: antiquewhite!Important;}
p.card-text {color: antiquewhite!Important;}

.btn btn-primary stretched-link {color: antiquewhite;}
#h1header {color: antiquewhite!Important;}